:host ::ng-deep {
    .error {
        color: #a94442;
        background: #f2dede;
        border: 1px solid #e4b3b3;
        border-radius: 2px;
        padding: 8px;
        font-size: 14px;
        font-weight: 400;
        margin: 10px 0 0;
    }
    h1 {
        margin: 0 0 25px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    button {
        cursor: pointer;
        outline: 0;
        width: 100%;
        border-radius: 2px;
        border: 1px solid #A1D44C;
        background: #97C747;
        color: #fff;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        &:hover {
            background: darken(#84AD3E, 5%);
            border-color: darken(#84AD3E, 5%);
        }
        &:disabled {
            opacity: .4;
            cursor: not-allowed;
        }
    }
    a {
        display: block;
        text-align: center;
        color: #5e7386;
        font-size: 14px;
    }
}

.auth-form {
    background: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
    border-radius: 3px;
    border: 1px solid #c1cedb;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    &__action {
        margin: 10px 0 30px;
    }
    &__toggle {
        border-radius: 0 0 3px 3px;
        border-top: 1px solid #c1cedb;
        background: #f8fafc;
        padding: 10px;
        margin: 0 -30px -30px;
    }
    label {
        display: block;
        margin: 0;
    }
    input {
        outline: 0;
        font-size: 16px;
        padding: 10px 15px;
        margin: 0;
        width: 100%;
        background: #fafcfd;
        color: #5777a8;
        border: 1px solid #d1deeb;
        text-align: center;
        &::-webkit-input-placeholder {
            color: #5777a8;
        }
        &[type=email] {
            border-radius: 3px 3px 0 0;
        }
        &[type=password] {
            border-radius: 0 0 3px 3px;
            margin: -1px 0 0;
        }
    }
}