.app-header {
    background: #fff;
    border-bottom: 1px solid #c1cedb;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    img {
        display: inline-block;
    }
    &__user-info {
        position: absolute;
        top: 16px;
        right: 0;
        cursor: pointer;
    }
    span {
        background: url(/img/logout.svg) no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
        display: block;
        opacity: 0.4;
        &:hover {
            opacity: 0.9;
        }
    }
}

.wrapper {
    max-width: 800px;
    width: 96%;
    margin: 0 auto;
    position: relative;
}